.container > header{
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: linear-gradient(to right, #9102c4, #cb42fc);
  color: white;
  padding: 10px 35px;
}

.meme-gen-icon{
  width: 45px;
  margin-right: 10px;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 5px;
  flex-direction: column;
}

input{
  outline: none;
  display: block;
  margin-top: 5px;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#get-meme-btn{
  background-image: linear-gradient(to right, #9102c4, #cb42fc);
  color: white;
  border: none;
  grid-column: 1 /span 2;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
}

.form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  font-size: 1rem;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme > img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.meme span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}