:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.place-name {
  font-size: 2em;
  padding: 5px;
  margin: 2px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#globe-icon{
  width: 33px;
  padding-right: 10px;
}

header{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #e84848;
  padding: 10px;
}

#title-txt{
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

article{
  color: black;
}

a {
  font-weight: 400;
  color: #8b8e94;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.marker-icon{
  width: 14px;
  margin-right: 5px;
}

.country-name{
  margin-right: 10px;
  letter-spacing: 2px;
}

.travel-img{
  height: 240px;
  width: 190px;
  object-fit: cover;
  border-radius: 7px;
  float: left;
}

.description{
  display: flex;
  flex-direction: column;
}