#root {
  max-width: 1280px;
  margin: 0 auto;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  padding: 4px;
  font-size: 15px;
  background-color: white;
}

.chef-icon{
  width: 40px;
  margin-right: 15px;
}

#logo-title{
  font-weight: 400;
}

.input-form{
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 36px;
  padding: 40px 20px 20px;
}

.user-input{
  outline: none;
  border: 1px solid #d1d5db;
  padding: 8px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.submit-btn{
  border: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 3px;
  font-family: 'Inter', 'Sans-serif';
  font-size: 0.875rem;
}

.container{
  min-height: 97vh;
  min-width: 620px;
  overflow: hidden;
  border: 5px solid #c7c7c7;
  background-color: #fafaf8;
  border-radius: 20px;
}

.recipe-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #dbd6d0;
  padding: 12px 25px;
  min-width: 200px;
  max-width: 440px;
  margin: 0 auto;
}

li, #actual-ins{
  color: #8f8e8d;
}

#hype-user{
  font-weight: 450;
  font-size: 15px;
}

#actual-ins{
  font-size: 11px;
}

.get-recipe-btn{
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

main{
  padding: 20px;
}